# Configuration file for Light Gas Cherenkov

#####################
# Mandatory variables
#####################

# Notice: run ranges will apply to geometry, materials and parameters

#geometry_table: lg_cherenkov
detector_name: lg_cherenkov
#author:         Paolone
#author_email:   mpaolone@jlab.org

variation:     PVDIS

factory:       TEXT

rmin:       1
rmax:       100000

comment: lg_cher
#dbhost: clasdb.jlab.org
dbhost: localhost
#dbname: user_geometry_7
#dbuser: mpaolone
#dbpass: solenoid2011

# Verbosity controls the perl script output
verbosity: 1

# Optional variables